.openMenu {
  font-size: 1.6rem;
  color: #6070ff;
  cursor: pointer;
}

.closeMenu {
  display: flex;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  margin: 15px;
}

.menuLists {
  list-style: none;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  background: #6070ff;
  backdrop-filter: blur(8px);
  mix-blend-mode: multiply;
  transition: top 0.5s ease;
  display: none;
}

.menuLists li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f4f5f7;
  padding: 24px;
}

.navbar {
  justify-content: space-between;
  display: flex;
}

.navbar .navbar-text {
  width: 100%;
  margin-bottom: 18rem;
  text-decoration: none;
  color: #6070ff;
  font-size: 1.3rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #f4f5f7;
  }

  .openMenu {
    display: none;
  }

  .closeMenu {
    display: none;
  }

  nav {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar .navbar-text {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    color: #6070ff;
  }

  nav .menuLists {
    display: flex;
    position: relative;
    list-style: none;
    background: none;
    flex-direction: row;
    margin-top: -19rem;
    left: 30rem;
  }

  nav .menuLists li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(97, 94, 94);
    font-size: 18px;
    transition: 0.2s ease;
  }
}
