@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.form-list li {
  list-style: none;
}

.about-main {
  background-image: url("./Image/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  background-attachment: unset;
  background-position-x: 9px;
  background-position-y: -6px;
  background-color: #fff;
  border-radius: 0 0 0 40px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #f4f5f7;
  }

  .menu-icon {
    display: none;
  }

  .header {
    background-color: #fff;
    width: 100%;
  }

  ul li a {
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .menu-lists {
    display: flex;
    list-style-type: none;
    color: #344563;
  }

  li.item a {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    margin-right: 32px;
    cursor: pointer;
  }

  .info {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .about-main {
    background-image: url(./Image/Header\ bg2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 110vh;
    top: 50px;
    margin-bottom: 60px;
  }

  .contain {
    max-width: 1000px;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 10%;
    top: 10%;
  }

  .about-main .intro {
    margin-top: 170px;
    margin-left: 90px;
    line-height: 56px;
    font-size: 48px;
  }

  .about p {
    margin-left: 90px;
    font-size: 18px;
    line-height: 28px;
  }

  .connect,
  .social-icons {
    margin-left: 90px;
  }

  .work-sections {
    max-width: 1200px;
    margin: auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .works-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto;
    transition: all 0.3s ease-in;
    align-items: center;
  }

  .works-container > * {
    flex: 1;
  }

  .works-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .works-container-image {
    width: 444px;
    height: 348px;
    margin-right: 46px;
  }

  .must-ignor {
    display: none;
  }

  .must-ignor1 {
    display: none;
  }

  .must-ignor2 {
    display: inline;
  }

  .primarytext1 {
    margin-top: -70px;
  }

  .primarytext-title {
    font-size: 40px;
    line-height: 54px;
  }

  .frame {
    justify-content: flex-start;
    gap: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  .works-container-text {
    margin-top: 24px;
  }

  ul.primarytext3 {
    margin-left: 0;
    gap: 0;
  }

  .lang {
    padding: 4px 12px;
    border-radius: 8px;
    color: #6070ff;
    background-color: #ebebff;
    border: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 24px;
  }

  .test-image {
    width: 100%;
    height: 100%;
  }

  .about-my-slef {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .text-container {
    width: 120%;
  }

  .normal-button {
    color: #396df2;
    background: #fff;
  }

  .second-text {
    font-size: 16px;
    line-height: 24px;
  }

  .list-skills {
    width: 50%;
    padding-top: 40px;
  }

  .ul-item {
    width: 100%;
  }

  .language h4 {
    margin-right: 300px;
  }

  .top {
    margin-right: 100px;
  }

  .web-top {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 2px;
    padding-left: -20px;
  }

  .web-lang {
    width: 110px;
    height: 100px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    padding-right: 20px;
  }

  .web-lang img,
  .web-lang span {
    margin-left: 7px;
  }

  hr {
    width: 75%;
  }

  .contact-me {
    background-image: url(./Image/desktopbuto.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 110vh;
    position: relative;
    top: 50px;
    margin-bottom: 60px;
    margin-top: -100px;
  }

  h3.contact-title {
    line-height: 52px;
    margin-top: 100px;
  }

  p.contact-text {
    width: 569px;
  }

  .first-name {
    width: 447px;
    height: 48px;
    border-radius: 2px;
    display: block;
  }

  .contact-textarea {
    width: 447px;
    height: 170px;
    border-radius: 2px;
    display: block;
  }

  .git-in-touch {
    margin-left: 175px;
    color: #6070ff;
  }

  .form-list li {
    list-style: none;
  }
}
