@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700;1,900&display=swap");

body {
  background-color: rgb(229, 229, 229);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 5410px;
  top: -1883px;
  left: 11282px;
  background-color: #fff !important;
  cursor: pointer;

}

/* BACK GROUND IMAGE STYLING*/
.header-bg .Ellipse12{
position: absolute;
width: 36.9px;
height: 16px;
font-size: 50px;
top: 405px;
transform: rotate(-360.08deg);
}
.header-bg .Ellipse13{
position: absolute;
width: 36.9px;
height: 16px;
font-size: 50px;
top: 420px;
transform: rotate(-340.08deg);
}
.header-bg .Ellipse4{
  position: absolute;
  width: 26px;
  height: 26px;
  font-size: 60px;
  top: 400px;
  left: 300px;

  transform: rotate(-340.08deg);
}
.header-bg .Rectangle5{
  position: absolute;
  width: 130px;
  height: 67px;
  font-size: 60px;
  top: 377px;
  left: 200px;
  transform: rotate(-350.08deg);
}

.header-bg .Ellipse3{
  position: absolute;
  width: 55px;
  height: 55px;
  font-size: 10px !important;
  top: 95px;
  left: 290px;
  transform: rotate(-360.08deg);
}
.header-bg .Rectangle4{
  position: absolute;
  width: 70px;
  height: 50px;
  font-size: 3px;
  top: 60px;
  left: 280px;
  transform: rotate(-360.08deg);
}
.header-bg .Rectangle7{
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 3px;
  top: 75px;
  left: 200px;
  transform: rotate(-345.08deg);
}
.header-bg .Ellipse5{
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 3px;
  top: 90px;
  left: 205px;
  transform: rotate(-360.08deg);
}
.header-bg .Ellipse11{
  position: absolute;
  width: 30px;
  height: 20px;
  top: 80px;
  left: 20px;
  transform: rotate(-360.08deg);
}
.header-bg .Rectangle6{
  position: absolute;
  width: 35px;
  height: 25px;
  top: 60px;
  left: 10px;
  transform: rotate(-360.08deg);
}



/*-------HEADER SECTION STYLING------*/

.main{
  justify-content: center;
}
.header2{
  width: 50%;
}
.primary-text2 p{
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

/*------LOGO STYLING -------*/
.logo {
  width: 76px;
  height: 50px;
  top: 10px;
  left: 12px;
  color: #6070ff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.header ul {
  display: flex;
  justify-content: space-between;
}
.header ul li {
  list-style: none;
  float: right;
}
.header ul li a {
  justify-content: space-between;
  text-decoration: none;
  margin-left: 20px;
  top: 10px;
  left: 12px;
  width: 62px;
  height: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}  

/*-----MAIN SECTION TEXT STYLING----*/

.Text{
  margin-top: 50px;
}

.primary-text1 p
{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #344563;
}

.primary-text2 p
{
  width: 117px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #7F8CFF;
}

/*---ICONS STYLING----*/
.icons{
  margin-left: 0px;
  margin-bottom: 60px;
}
.icons .twitter{
  margin-right: 10px;
}
.icons .medium{
  margin-left: 10px;
}
.icons .github{
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (min-width:375px) {
  .container {
    width: 100%;
    height: 5410px;
    top: -1883px;
    left: 11282px;
    background-color: #fff !important;
    cursor: pointer;
  
  }
}

